<li>
	{{id}}.
	{{name}}
	{{#if devoured}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devoured!
	</button>
	{{else}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/if}}
</li>